@font-face {
  font-family: 'BadDog';
  src: url("./fonts/BadDog.otf") format("otf"), url("./fonts/BadDog.otf")  format("truetype");
}

body {
  font-family: 'BadDog', serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
